aws_region       = "us-east-1"
environment      = "prod"
key_name         = "LABCONTECTION_A"
allowed_ssh_cidr = "0.0.0.0/0"
dockerhub_user   = "lgachig"

# ASG de gateway y frontend
asg_min_size         = 1
asg_max_size         = 2
asg_desired_capacity = 1

# Secretos (NO poner aquí — exportar en terminal o usar GitHub Environment "prod"):
# export TF_VAR_jwt_secret="..."
# export TF_VAR_jwt_refresh_secret="..."
# export TF_VAR_internal_service_key="..."
